{% extends "base.html.twig" %}
{% block title %}
	{{conference.nom}}
{% endblock %}


{% block body %}
	{# J'affiche le titre de la conférence #}
	<h1>{{ conference.nom }}</h1>
	<h2>{{ conference.city ~ ' - ' ~ conference.year ~ ' - Internationale ? ' }}
		{% if conference.isInternational %}
			Oui
		{% else %}
			Non
		{% endif %}
	</h2>
	{# Si iln'y a pas de commentaires j'affiche un message #}
	{% if comments is empty %}
		<p>Aucun commentaire pour le moment</p>
	{% else %}
		{# Sinon j'affiche les commentaires et note de la conferance #}
		<div class="d-flex" style="height: auto; width:80%">
			<table class="table table-dark table-striped">
				<thead>
					<tr>
						<th scope="col">Auteur</th>
						<th scope="col">Email</th>
						<th scope="col">Date</th>
						<th scope="col">Commentaire</th>
					</tr>
				</thead>
				{% for comment in comments %}
					<tbody>
						<tr>
							{# inserer date de création du commentaire #}
							<td>{{ comment.author }}</td>
							<td>{{ comment.email}}</td>
							<td>{{ comment.createdAt|date('d/m/Y') }}</td>
							<td>{{ comment.text|raw}}</td>
						</tr>
					</tbody>
				{% endfor %}
			{% endif %}
		</table>
	</div>
</div>{% endblock %}
