{% extends 'base.html.twig' %}

{% block title %}Livre d'or des conférences
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Livre d'or des conférences</h1>
		<h2>Faites-nous un retour!!!</h2>
		<form action="">
			<div class="row form-group">
				<label for="year" class="col-sm-6 col-form-label">Année</label>
				<div class="col-sm-6">
					<select type="text" class="form-control" id="year_search" name="year_search">
						<option></option>
						{% for year in years %}
							<option {{ (year == year_search ? 'selected') }}>{{ year }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="row form-group">
				<label for="city" class="col-sm-6 col-form-label">Ville</label>
				<div class="col-sm-6">
					<select type="text" class="form-control" id="city_search" name="city_search">
						<option></option>
						{% for city in cities %}
							<option {{ (city == city_search ? 'selected') }}>{{ city }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<input type="submit" value="Chercher" class='btn btn-primary'>
		</form>

		<ul class='list-group'>
			{% for conference in conferences%}

				<li class='list-group-item list-group-item-action'>{{ conference.city ~ ' - ' ~ conference.year}}
					<span style='float: right;'>
						<button class='btn btn-primary'>
							<a class="text-white text-decoration-none" href="{{ path('conference_newcomment' , {id: conference.id}) }}">Laisser un commentaire</a>
						</button>
						<button class="btn btn-primary">
							<a class='text-decoration-none text-light' href="{{path('ficheConference', {id: conference.id})}}">voir le détail</a>
						</button>
						{% if app.User %}
							{# <button class="btn btn-primary">
								<a class='text-decoration-none text-light' href="{{path('conference_modifconference' , {id: conference.id})}}">Modifier</a>
							</button> #}
							<button class="btn btn-primary prompt" id='{{ conference.id }}'>
								<a class='text-decoration-none text-light' href="#">Supprimer</a>
							</button>
						{% endif %}
					</span>
				</li>
				{# <div class="modale-{{ conference.id }}  modales" id='modale-{{ conference.id }}'>
					<div class='modale-int'>
						<p>êtes vous sur de vouloir supprimer cette conférence ?</p>
						<button class="btn btn-primary oui">
							<a class='text-decoration-none text-light' href="{{path('conference_supprConf' , {id: conference.id})}}">Oui</a>
						</button>
						<button class="non">
							non
						</button>
					</div>
				</div> #}
			{% endfor %}
		</ul>

		{% if previous >= 0 %}
			<a href="{{ path('app_conference', {offset: previous}) }}" class="btn btn-sm btn-primary m-3">
				<<</a><ahref="{{path('app_conference',{offset:next})}}"class="btnbtn-smbtn-primarym-3">> {% endif %} {% if next < conferences|length %}>
			</a>
		{% endif %}

		<script src="{{asset('/js/index.js')}}"></script>
	</div>
{% endblock %}
