{% extends 'base.html.twig' %}

{% block title %}
	{{ conference.nom }}
{% endblock %}

{% block body %}
	<a style="float: right;" href="{{path('app_conference')}}">Retourner à la liste des conférences</a>
	<h1 class="m-5">{{ conference.nom }}</h1>
	<h2 class="m-3">Caractéristiques</h2>

	<ul class='list-group m-3'>
		<li class='list-group-item list-group-item-action'>Ville :
			{{ conference.city }}</li>
		<li class='list-group-item list-group-item-action'>Année :
			{{ conference.year }}</li>
		<li class='list-group-item list-group-item-action'>Internationale :
			{% if conference.isInternational %}
				Oui
			{% else %}
				Non
			{% endif %}
		</li>
	</ul>
	<div class="card-body">
	{{ form(form_comment) }}
	</div>
{% endblock %}