{% extends "base.html.twig" %}
{% block title %}
	{{conference.nom}}
{% endblock %}


{% block body %}
	{# J'affiche le titre de la conférence #}
	<h1>{{ conference.nom }}</h1>
	<h2>{{ conference.city ~ ' - ' ~ conference.year ~ ' - Internationale : ' }}
		{% if conference.isInternational %}
			Oui
		{% else %}
			Non
		{% endif %}
	</h2>

	<form>
		<div class="mb-3 container-fluid">
			{{ form_row(form_comment.author) }}
			{{ form_row(form_comment.email) }}
			{{ form_row(form_comment.note) }}
			{{ form_row(form_comment.text) }}
			{{ form_row(form_comment.submit) }}
		</div>
		{# <button type="submit" class="btn btn-primary" id="comment_form_enregistrer" name="comment_form[enregistrer]">Enregistrer</button> #}
	</form>

{% endblock %}
