{% extends "base.html.twig" %}
{% block title %}
	{{conference.nom}}
{% endblock %}


{% block body %}
	{# J'affiche le titre de la conférence #}
	<h1>{{ conference.nom }}</h1>
	<h2>{{ conference.city ~ ' - ' ~ conference.year ~ ' - Internationale : ' }}
		{% if conference.isInternational %}
			Oui
		{% else %}
			Non
		{% endif %}
	</h2>
	{# Si iln'y a pas de commentaires j'affiche un message #}
	{% if comments is empty %}
		<p>Aucun commentaire pour le moment</p>
	{% else %}

		{# Sinon j'affiche les commentaires et note de la conferance #}
		<div class="">

			{% if previous >= 0 %}
				<a href="{{ path('ficheConference', { id: conference.id, offset: previous }) }}" class="btn btn-sm btn-primary">Précédent</a>
			{% endif %}

			Il y a
			{{ comments|length~' commentaire'~( comments|length > 1 ? 's' : '') }}

			{% if next < comments|length %}
				<a href="{{ path('ficheConference', { id: conference.id, offset: next }) }}" class="btn btn-sm btn-primary">Suivant</a>
			{% endif %}
		{% endif %}

	</div>
	{# <div class="d-flex" style="height: auto; width:80%">
						<table class="table table-dark table-striped">
							<thead>
								<tr>
									<th scope="col">Auteur</th>
									<th scope="col">Email</th>
									<th scope="col">Date</th>
									<th scope="col">Commentaire</th>
								</tr>
							</thead>
							{% for comment in comments %}
								<tbody>
									<tr>
										<td>{{ comment.author }}</td>
										<td>{{ comment.email}}</td>
										<td>{{ comment.createdAt|date('d/m/Y') }}</td>
										<td>{{ comment.text|raw}}</td>
									</tr>
								</tbody>
							{% endfor %}
						{% endif %}
					</table>
				</div> #}


	{% for comment in comments %}
		<div class="card mb-2">
			<div class="card-header">{{ comment.createdAt|date('d/m/Y') ~ ' - ' ~ comment.author ~ ' - ' ~ comment.email}}
			</div>
			<div class="card-body">
				<h5 class="card-title">Commentaire</h5>
				<p class="card-text">{{ comment.text|raw}}</p>
			</div>
		</div>
	{% endfor %}
</div>{% endblock %}
